
@{
    ViewData["Title"] = "AddNewUser";
}

<h2>AddNewUser</h2>
<form method="post">
    <input type="text" name="Name" />
    <input type="text" name="Password"/>
    <input type="submit" />
</form>


